/* HomeTechStack.css */
.tech-stack-section {
  background-color: #000;
  color: #fff;
  padding: 4rem 2rem;
}

.tech-stack-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-category {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  border-left: 4px solid  #00bcd4;
}

.tech-category h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color:  #00bcd4;
   
}

.tech-category ul {
  list-style: none;
  padding: 0;
}

.tech-category ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
