
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
              url('../../assets/bg.png') center/cover no-repeat;
  color: #fff;
}

.home-left {
  max-width: 600px;
}

.home-left h1 {
  font-size: 3rem;
  margin-bottom: 16px;
  color: #00bcd4;
}

.home-left h1 span {
  color: #ffffff;
}

.home-left h2 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  color: #ccc;
}

.home-left p {
  font-size: 1rem;
  color: #aaa;
  line-height: 1.6;
  margin-bottom: 32px;
}

.home-btn {
  background-color: #00bcd4;
  color: #0f0f0f;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.home-btn:hover {
  background-color: #0097a7;
} 

.home-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-right img {
  max-width: 100%;
  height: auto;
  width: 400px;
}


/* Skill Section */
.skills-section {
  background-color: #121212;
  padding: 4rem 4rem;
  color: #ffffff;
  text-align: center;
}

.skills-title {
  font-size: 2rem;
margin-bottom: 2rem; 
  color:  #00bcd4;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
}
.skills-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills-animation {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
}

.skills-list {
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skill-category h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.skill-category p {
  font-size: 1rem;
  color: #ccc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skills-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.skill-category {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 213, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.skill-category h3 {
  color:  #00bcd4;
  margin-bottom: 0.5rem;
}

.skill-category p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1rem;
  color: #ccc;
}

.skill-category svg {
  vertical-align: middle;
  font-size: 1.3rem;
}

/* Marquee effect */
.skill-marquee {
  overflow: hidden;
  white-space: nowrap; 
  background: #0f0f0f;
  padding: 2rem 0; 
  /* //margin-top: 2rem; */
  position: relative;
}

.marquee-track {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  color:  #00bcd4;
  -webkit-animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}